a, a:visited, #content h1 a:hover{
	color: #0066CC;
	}
.headerleft a, .headerleft a:visited, .headerleft a:hover, #footer a, #footer a:visited, 
#r_sidebar h2 a:hover, #r_sidebar .sidehead a:hover{
	color: #50AAFE;
	}
#r_sidebar ul li a:hover, .headerright a:hover{
	background: #027CEE;
	}
