<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>$WikiTitle {$Group}/{$Titlespaced}</title>
	<link rel="Shortcut Icon" href="" type="image/x-icon">
	<link rel='stylesheet' href='$SkinDirUrl/style.css' type='text/css' />
	<link rel='stylesheet' href='$SkinDirUrl/color-$SkinColor.css' type='text/css' />
<!--HTMLHeader-->
</head>

<body>

<div id="header">
<!--PageHeaderFmt-->
	<div class="headerleft">
		<!--wiki:{$Group}.SiteHeader {$SiteGroup}.SiteHeader {$SiteGroup}.{$SkinName}-SiteHeader-->
	</div>

	<!--PageTabsFmt-->
		<div class="headerright">
			<!--wiki:{$Group}.SiteNav {$SiteGroup}.SiteNav {$SiteGroup}.{$SkinName}-SiteNav-->
		</div>
	<!--/PageTabsFmt-->

<!--/PageHeaderFmt-->
</div>

<div id="content">

	<div id="contentleft">
		<!--PageTitleFmt-->
			<a href='{$ScriptUrl}/{$Group}' class="pagegroup">{$Group}</a>
			<h1><a href='{$PageUrl}'>{$Titlespaced}</a></h1>
		<!--/PageTitleFmt-->

		<!--PageText-->
	</div>

	<div id="r_sidebar">
		<ul>
			<!--PageActionFmt-->
			<li id="Actions">
				<div class="pageactions">
				<!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions-->
				</div>
			</li>
			<!--/PageActionFmt-->

			<!--PageSearchFmt-->
			<li id="Search">
				<h2>Find It</h2>
				<div class="search">
					<form id="searchform" action='$ScriptUrl'>
					<fieldset>
						<input type='hidden' name='n' value='{$FullName}' />
						<input type='hidden' name='action' value='search' />
						<input class='searchBox' type='text' name='q' value="" />
						<input class='searchButton' type='submit' value='$[Go]' />
					</fieldset>
					</form>
				</div>
			</li>
			<!--/PageSearchFmt-->
		</ul>
		<!--PageRightFmt-->
		<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar {$SiteGroup}.{$SkinName}-SideBar-->
		<!--/PageRightFmt-->
	</div>
</div>

<div style="clear: both;"></div>
<div id="footerbg">
<!--PageFooterFmt-->
	<div id="footer">
		<p><a href="http://www.briangardner.com/themes/dropshadow-wordpress-theme.htm" rel="nofollow" style="color:#fff;">Drop Shadow</a> theme adapted by <a href="http://solidgone.org/Skins/">David Gilbert</a>, powered by <a href="http://pmwiki.com/">PmWiki</a></p>
	</div>
<!--/PageFooterFmt-->
</div>


</body></html>
